<!DOCTYPE html>
<html lang="ens">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title></title>
        {% load static%}
        <meta name='description' content= 'Tanz Wares'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel='stylesheet' href="{%static 'css/index.css'%}">
    </head>
    <body style="background-color: beige;">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: crimson; padding-left: 15px;">
            <a class="navbar-brand" href="#">TanzWares</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    {%if request.session.id %}
                    <li class="nav-item"> 
                        <a href="/home" class="nav-link">Home</a> 
                    </li>
                    <li class="nav-item"> 
                        <a href="/logout" class="nav-link">Logout</a> 
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Cart</a> 
                    </li>
                    <li class="nav-item"> 
                        <a href="#" class="nav-link">Favorites</a> 
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <section>
            {% block content%}
            {% endblock %}
        </section>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>