{% extends './base.html' %}
{%block content%}
<div class="container">
    <h5 style="text-align: left;">Hello, {{user.first_name}}!</h5>
    <h1>Favorites for Later</h1>
    <hr>
    <div class="items_container" style="display: block;">
        {%for item in items%}
        <div class="items_box" style="border: 1px crimson solid; padding: 15px; margin-right: 25px; border-radius: 30px; background-color: whitesmoke; text-align: center;">
            <img src="{{item.image.url}}" width="300px" style="border-radius: 30px; ">
            <h3>{{item.name}}</h3>
            <p>${{item.price}} <br>{{item.desc}}</p>
            <p style="text-align: center;">
                <a href="#">
                    <input type="button" value="Add To Cart">
                </a>|
                {%if user not in item.fav_by.all%}
                <a href="/add_favorite/{{item.id}}">
                    <input type="button" value="Save">
                </a>
                {%endif%}
                {%if user in item.fav_by.all%}
                <a href="/remove_favorite/{{item.id}}">
                    <input type="button" value="Remove From Favorites">
                </a>
                {%endif%}
            </p>
        </div>
        <br>
        <hr>
        {%endfor%}
    </div>
</div>

{%endblock%}