{% extends './base.html' %}
{%block content%}
<div class="container" style="font-family: sans-serif;">
    <h5 style="text-align: left;">Hello, {{user.first_name}}!</h5>
    <h1>Welcome to Tanz's Wares</h1>
    <hr>
    <div class="items_container" style="display: block;">
        {%for item in items%}
        <div class="items_box" style="border: 1px crimson solid; padding: 15px; margin-right: 25px; border-radius: 30px; background-color: whitesmoke; text-align: center;">
            <img src="{{item.image.url}}" width="300px" style="border-radius: 30px; ">
            <h3>{{item.name}}</h3>
            <p>${{item.price}} <br>{{item.desc}}</p>
            <p style="text-align: center;">
                {%if user not in item.added_item.all%}
                <a href="/add_cart/{{item.id}}">
                    <button type="button" class="btn btn-outline-primary ">Add to Cart</button>
                </a><br> <br>
                {%endif%}
                
                {%if user not in item.fav_by.all%}
                <a href="/add_favorite/{{item.id}}">
                    <button type="button" class="btn btn-outline-secondary">Save favorite</button>
                </a>
                {%endif%}
            </p>
        </div>
        <br>
        <hr>
        {%endfor%}
    </div>
</div>
{%endblock%}