{% extends './base.html'%}
{%block content%}
<div class="container">
    <h1>Welcome to Tanz's Wares</h1>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
        <li>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/verify" method="post">
        {%csrf_token%}
        {{login_form.as_p}}
        <input type="submit" value="Login">
    </form><br>
    <h6>New User?<a href="/registration">Click Here!</a></h6>
</div>
{%endblock%}